<% provide(:title, '新闻展示')  %>

<%= content_for :header_js do %>
   <%= javascript_include_tag 'plugins/ueditor/ueditor.config', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'plugins/ueditor/ueditor.all.min', 'data-turbolinks-track' => true %>
<% end %>

<%= content_for :footer_js do %>
   <%= javascript_include_tag 'plugins/ueditor/ueditor','data-turbolinks-track' => true %>
<% end %>

<%= form_for(@inform) do |f| %>
  <% if @inform.errors.any? %>
    <div class="alert alert-block alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <p><strong>有 <%= @inform.errors.count %> 处问题导致无法提交:</strong></p>
        <ul>
        <% @inform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
</div>
<% end %>


      <div class="field">

      <% if@inform.errors.any?%>
            <label class="string required control-label error">标题:</label>
            <% else %>
           <label>标题</label> 
            <% end %>
        <%= f.text_field :title, class:(@inform.errors.any?) ? "form-control error" : "form-control",value: (@inform.title.nil?)? "" : @inform.title %>
      </div>
      <div class="field">
        <% if@inform.errors.any?%>
            <label class="string required control-label error">作者:</label>
            <% else %>
            <label>作者</label>
            <% end %>

        <%= f.text_field :author ,class:(@inform.errors.any?) ? "form-control error" : "form-control",value: (@inform.author.nil?)? "" : @inform.author %>
      </div>
      <div class="field">
       <% if@inform.errors.any?%>
            <label class="string required control-label error">摘要:</label>
            <% else %>
              <label>摘要</label>
            <% end %>
    
      <%= f.text_field :brief,  class:(@inform.errors.any?) ? "form-control error" : "form-control",value: (@inform.brief.nil?)? "" : @inform.brief %>
      </div>
      
      <div class="field">
        <label>内容</label>
         <script id="editor1" type="text/plain" style="width:100%; height:500px;"></script>
          </div>   
  

<%= f.submit "提交", class:"btn btn-outline btn-primary ", id:"edit_button" %>
<!-- <button id="edit_button" class="btn btn-outline btn-primary">提交</button> -->
  <% end %>


<script type="text/javascript">
  var ue = UE.getEditor('editor1');
  ue.ready(function() {
     html = unescape("<%=@inform.context%>");  
    $('#ueditor_0').contents().find('body').append(html);
  });
</script>

<script type="text/javascript">
  function form_send (url, request_type) {
      $("#edit_button").click(function () {
                $.ajax({
                  url: url,
                  dataType: "json",
                  type: request_type,
                  data: {
                    "inform[title]" :$("#inform_title").val(),
                    "inform[author]":$("#inform_author").val(),
                    "inform[brief]":$("#inform_brief").val(),
                    "inform[context]" : escape(UE.getEditor('editor1').getAllHtml()),
                    "authenticity_token" : $("input[name='authenticity_token']").attr("value"),
                    "utf8": $("input[name='utf8']").attr("value")
                  },
                })
                .done(function( data) {
                })
                .fail(function ( jqXHR, textStatus, errorThrown ) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                })
                .always(function( data ) {
                   location.href = url
                })
                
            });
  }
</script>