<% provide(:title, '新闻展示')  %>

<%= content_for :header_js do %>
   <%= javascript_include_tag 'plugins/ueditor/ueditor.config', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'plugins/ueditor/ueditor.all.min', 'data-turbolinks-track' => true %>
<% end %>

<%= content_for :footer_js do %>
   <%= javascript_include_tag 'plugins/ueditor/ueditor','data-turbolinks-track' => true %>
<% end %>

<%= form_for(@inform) do |f| %>
    <div class="alert alert-block alert-error" id="error-div" style="display:none">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <p><strong>发生问题导致无法提交:</strong></p>
        <ul>
        </ul>
</div>

      <div class="field" id="title">
        <label>标题</label> 
        <%= f.text_field :title, class:"form-control" %>
      </div>

      <div class="field" id="author">
        <label>作者</label>
        <%= f.text_field :author ,class:"form-control" %>
      </div>

      <div class="field" id="brief">
        <label>摘要</label>   
      <%= f.text_field :brief,  class:"form-control" %>
      </div>
      
      <div class="field">
        <label>内容</label>
         <script id="editor" type="text/plain" style="width:100%; min-height:500px;"></script>
          </div> 

         
  <% end %>

   <button class="btn btn-outline btn-primary", id="edit_button">提交</button>  



<script type="text/javascript">
  var ue = UE.getEditor('editor');
  ue.ready(function() {
     html = unescape("<%=@inform.context%>");  
    $('#ueditor_0').contents().find('body').append(html);
  });
</script>

<script type="text/javascript">
  function form_send (url, request_type) {
      $("#edit_button").click(function () {
        if ($("#inform_title").val().length != 0 && $("#inform_author").val() != 0 && $("#inform_brief").val() != 0) {
          console.log("ddd");
                $.ajax({
                  url: url,
                  dataType: "json",
                  type: request_type,
                  data: {
                    "inform[title]" :$("#inform_title").val(),
                    "inform[author]":$("#inform_author").val(),
                    "inform[brief]":$("#inform_brief").val(),
                    "inform[context]" : escape(UE.getEditor('editor').getAllHtml()),
                    "authenticity_token" : $("input[name='authenticity_token']").attr("value"),
                    "utf8": $("input[name='utf8']").attr("value")
                  },
                })

                .done(function( data) {
                })
                .fail(function ( jqXHR, textStatus, errorThrown ) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                })
                .always(function( data ) {
                   location.href = url
                })
        }else{
          $('#error-div').css("display","none");
          $('#error-div').children().filter('li').remove();
          $("#error-div").css("display","block");
      if ($("#inform_title").val().length == 0) {
            $('<li />').html("请填写标题").appendTo('#error-div');
            $('#title').addClass("error");
            $('#inform_title').addClass("error");
          };
     if($("#inform_author").val().length == 0) {
            $('<li />').html("请填写作者").appendTo('#error-div');
            $('#author').addClass("error");
            $('#inform_author').addClass("error");
          };
     if($("#inform_brief").val().length == 0) {
            $('<li />').html("请填写摘要").appendTo('#error-div');
            $('#brief').addClass("error");
            $('#inform_brief').addClass("error");
          };
          
        };
                
                
    });
  }
</script>
