<% provide(:title, '新闻编辑')  %>
<!-- 
<%= form_for(@inform) do |f| %>
  <% if @inform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inform.errors.count, "error") %> prohibited this inform from being saved:</h2>
      <ul>
      <% @inform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %> -->

<div class="panel panel-default">
    <div class="panel-heading">新闻编辑</div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
            <%= render 'form' %>
              <%= link_to '查看', @inform ,class:"btn btn-outline btn-primary"%>
              <%= link_to '返回', informs_path ,class:"btn btn-outline btn-primary"%>
      <!--     <% end %> -->
          </div>
      </div>
</div>
<script type="text/javascript">
    form_send($(".edit_inform").attr('action'), 'put');
</script>