<h1>Listing informs</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Author</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informs.each do |inform| %>
      <tr>
        <td><%= inform.company_id %></td>
        <td><%= inform.title %></td>
        <td><%= inform.author %></td>
        <td><%= inform.context %></td>
        <td><%= link_to 'Show', inform %></td>
        <td><%= link_to 'Edit', edit_inform_path(inform) %></td>
        <td><%= link_to 'Destroy', inform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inform', new_inform_path %>
