
<% if !notice.nil?  %>
	<p id="notice" class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= notice %></p>
<% end %>

<br>
 <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="well">
                        <h4>标题</h4>
                        <p><%= @inform.title %></p>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="well well-lg">
                        <h4>作者</h4>
                        <p> <%= @inform.author %></p>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="well well-sm">
                        <h4>内容</h4>
                        <p><%= @inform.context %></p>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

<%= link_to '编辑', edit_inform_path(@inform) ,class:"btn btn-outline btn-primary"%> 
<%= link_to '返回', informs_path ,class:"btn btn-outline btn-primary"%>
