<%= form_for(@pad) do |f| %>

<% if @pad.errors.any? %>
<div class="alert alert-block alert-error">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<p><strong>有 <%= @pad.errors.count %> 处问题导致无法提交:</strong></p>
	<ul>
		<% @pad.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">

 <% if@pad.errors.any?%>
            <label class="string required control-label error">MAC地址:</label>
            <% else %>
            <label>MAC地址:</label>
            <% end %>
	<br>
	<%= f.text_field :Mac_address, class:(@pad.errors.any?) ? "form-control error" : "form-control" %>
	<br>


	 <% if@pad.errors.any?%>
            <label class="string required control-label error">用户名:</label>
            <% else %>
            <label>用户名:</label>
            <% end %>
	<br>
	<%= f.text_field :pad_user_name, class:(@pad.errors.any?) ? "form-control error" : "form-control", value: (@pad.pad_user.nil?)? "" : @pad.pad_user.name  %>
</div>
	<%= f.submit '提交' ,class:"btn btn-outline btn-primary", role:"button"%>
<% end %>