<%= form_for(@pad) do |f| %>
  <% if @pad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pad.errors.count, "error") %> prohibited this pad from being saved:</h2>

      <ul>
      <% @pad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MAC_address %><br>
    <%= f.text_field :MAC_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div><% end %>