<%= form_for(@pad) do |f| %>
<% if @pad.errors.any? %>
<div class="alert alert-block alert-error">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<p><strong>有 <%= @pad.errors.count %> 处问题导致无法提交:</strong></p>
	<ul>
		<% @pad.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<% if @pad.errors.any? %>
	<label class="string required control-label error" > MAC地址</label>
	<br>
	<%= f.text_field :Mac_address, class:"form-control error"  %>
	<br>
	<label class="string required control-label" > 用户名</label>
	<br>
	<%= f.text_field :pad_user_name, class:"form-control", value:@pad.pad_user.name  %>
	<% else %>
	<label class="string required control-label" > MAC地址</label>
	<br>
	<%= f.text_field :Mac_address, class:"form-control"  %>
	<br>
	<label class="string required control-label" > 用户名</label>
	<br>
	<%= f.text_field :pad_user_name, class:"form-control",  value:@pad.pad_user.name %>
	<% end %>
</div>
<br>
<div class="actions">
	<%= f.submit '提交' ,class:"btn btn-outline btn-primary", role:"button"%>
</div>
<% end %>