<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label>公司名字:</label>
    <%= f.text_field :company_name,class:"form-control",type:"text"%>
  </div>
  <div class="field">
     <label>公司地址:</label>
    <%= f.text_field :company_address,class:"form-control",type:"text"%>
  </div>
  <div class="field">
    <label>公司电话:</label>
    <%= f.text_field :company_tel, class:"form-control", type:"text"%>
  </div>
  <div class="actions">
   <%= f.submit "提交", class:"btn btn-outline btn-primary "%>
  </div>
<% end %>
