<% provide(:title, '公司信息') %>

<% if !notice.nil? %>
  <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= notice %> 
  </div>
<% end%>


<h2>查看公司信息</h2>
<div class="show">
    <strong>公司地址:</strong>
    <%= @company.company_name %>
</div>

<div class="show">
    <strong>公司地址:</strong>
    <%= @company.company_address %>
</div>

<div class="show">
    <strong>公司电话:</strong>
    <%= @company.company_tel %>
</div>
    <%= link_to '编辑', edit_company_path(@company), class:"btn btn-outline btn-primary"%>
