<p id="notice"><%= notice %></p>

<p>
  <strong>Admin user:</strong>
  <%= @company.admin_user_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @company.company_address %>
</p>

<p>
  <strong>Company tel:</strong>
  <%= @company.company_tel %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
