<br>
<div class="panel panel-default">
  <div class="panel-heading">编辑公司</div>
  <div class="panel-body">
    <div class="table-responsive">
      <%= form_for(@admin_company, url: admin_company_path(@admin_company)) do |f| %>
      <% if @admin_company.errors.any? %>
      <div class="alert alert-block alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <p><strong>有 <%= @admin_company.errors.count %> 处问题导致无法提交:</strong></p>
        <ul>
          <% @admin_company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="field">

       <% if@admin_company.errors.any?%>
       <label class="string required control-label error">公司名字:</label>
       <% else %>
       <label>公司名字:</label>
       <% end %>
       <%= f.text_field :company_name, class:(@admin_company.errors.any?) ? "form-control error" : "form-control",value: (@admin_company.company_name.nil?)? "" : @admin_company.company_name %>
     </div>
     <div class="field">
       <% if@admin_company.errors.any?%>
       <label class="string required control-label error">公司地址:</label>
       <% else %>
       <label>公司地址:</label>
       <% end %>
       <%= f.text_field :company_address, class:(@admin_company.errors.any?) ? "form-control error" : "form-control", value: (@admin_company.company_address.nil?)? "" : @admin_company.company_address %>
     </div>
     <div class="field">

      <% if@admin_company.errors.any?%>
      <label class="string required control-label error">公司电话:</label>
      <% else %>
      <label>公司电话:</label>
      <% end %>
      <%= f.text_field :company_tel, class:(@admin_company.errors.any?) ? "form-control error" : "form-control", value: (@admin_company.company_tel.nil?)? "" : @admin_company.company_tel%>
    </div>
    <div class="actions">
     <%= f.submit "提交", class:"btn btn-outline btn-primary "%>
     <%= link_to '返回', admin_companies_path, class:"btn btn-outline btn-primary" %>
   </div>
   <% end %>