<br>
<div class="panel panel-default">
	<div class="panel-heading">修改密码</div>
	<div class="panel-body">
		<div class="table-responsive">
			<%= form_for(@admin, url: "/admin_infos/#{@admin.id}/password", method: "PATCH") do |f| %>
			<%if params[:admin_user] %>
			<% if !@admin.valid_password?(params[:admin_user][:current_password]) %>
			<div class="alert alert-block alert-error">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<p><strong>有 1 处问题导致无法提交:</strong></p>
				<ul>
					<li>旧密码 错误</li>
				</ul>
			</div>
			<% elsif @admin.errors.any? %>
			<div class="alert alert-block alert-error">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<p><strong>有 <%= @admin.errors.count %> 处问题导致无法提交:</strong></p>
				<ul>
					<% @admin.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<% end %>
			<div class="field">
				<% if @admin.errors.any? %>
				<label class="string required control-label error" >旧密码</label>
				<br>
				<%= f.password_field :current_password, class:"form-control error" %>
				<br>
				<label class="string required control-label error" >新密码</label>
				<br>
				<%= f.password_field :password, class:"form-control error" %>
				<br>
				<label class="string required control-label error" >确认密码</label>
				<br>
				<%= f.password_field :password_confirmation, class:"form-control error" %>
				<% else %>
				<label class="string required control-label" >旧密码</label>
				<br>
				<%= f.password_field :current_password, class:"form-control" %>
				<br>
				<label class="string required control-label" >新密码</label>
				<br>
				<%= f.password_field :password, class:"form-control" %>
				<br>
				<label class="string required control-label" >确认密码</label>
				<br>
				<%= f.password_field :password_confirmation, class:"form-control" %>
				<% end %>
			</div>
			<br>
			<div class="actions">
				<%= f.submit '提交' ,class:"btn btn-outline btn-primary", role:"button"%>	
				<%= link_to '返回', "/admin_infos/#{@admin.id}", class:"btn btn-outline btn-primary"%>
			</div>
			<% end %>