  <br>
  <div class="panel panel-default">
  	<div class="panel-heading">修改密码</div>
  	<div class="panel-body">
  		<div class="table-responsive">
  			<%= form_for(@admin, url: admin_path(@admin)) do |f| %>
        <%if params[:admin_user] %>
        <% if !current_admin_user.valid_password?(params[:admin_user][:current_password]) %>
        <div class="alert alert-block alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <p><strong>有 1 处问题导致无法提交:</strong></p>
          <ul>
            <li>管理员密码 错误</li>
          </ul>
        </div>
        <% elsif @admin.errors.any? %>
        <div class="alert alert-block alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <p><strong>有 <%= @admin.errors.count %> 处问题导致无法提交:</strong></p>
          <ul>
           <% @admin.errors.full_messages.each do |message| %>
           <li><%= message %></li>
           <% end %>
         </ul>
       </div>
       <% end %>
       <% end %> 
       <div class="field">
        <% if @admin.errors.any? %>
        <label class="string required control-label error" >管理员密码</label>
        <br>
        <input class="form-control error" id="admin_user_current_password" name="admin_user[current_password]" type="password" >
        <br>
        <label class="string required control-label error" >新密码</label>
        <br>
        <%= f.password_field :password, class:"form-control error" %>
        <br>
        <label class="string required control-label error" >确认密码</label>
        <br>
        <%= f.password_field :password_confirmation, class:"form-control error" %>
        <% else %>
        <label class="string required control-label" >管理员密码</label>
        <br>
        <input class="form-control" id="admin_user_current_password" name="admin_user[current_password]" type="password" >
        <br>
        <label class="string required control-label" >新密码</label>
        <br>
        <%= f.password_field :password, class:"form-control" %>
        <br>
        <label class="string required control-label" >确认密码</label>
        <br>
        <%= f.password_field :password_confirmation, class:"form-control" %>
        <% end %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit '提交' ,class:"btn btn-outline btn-primary", role:"button"%>
        <%= link_to '查看', admin_path(@admin), class:"btn btn-outline btn-primary" %> 
        <%= link_to '返回', admins_path, class:"btn btn-outline btn-primary"%>
      </div>
      <% end %>