<% provide(:title, '新建')  %>
<br>
<div class="panel panel-default">
	<div class="panel-heading">新建管理员</div>
	<div class="panel-body">
		<div class="table-responsive">
			<%= form_for(@admin, url: admins_path ) do |f| %>
			<% if @admin.errors.any? %>
			<div class="alert alert-block alert-error">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<p><strong>有 <%= @admin.errors.count %> 处问题导致无法提交:</strong></p>
				<ul>
					<% @admin.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
			<div class="field">
				<% if @admin.errors.any? %>
				<label class="string required control-label error" >用户名</label>
				<br>
				<%= f.text_field :username, class:"form-control error"  %>
				<br>
				<label class="string required control-label error" >邮箱</label>
				<br>
				<%= f.text_field :email, class:"form-control error" %>
				<br>
				<label class="string required control-label error" >密码</label>
				<br>
				<%= f.password_field :password, class:"form-control error" %>
				<br>
				<label class="string required control-label error" >确认密码</label>
				<br>
				<%= f.password_field :password_confirmation, class:"form-control error" %>
				<% else %>
				<label class="string required control-label" >用户名</label>
				<br>
				<%= f.text_field :username, class:"form-control"  %>
				<br>
				<label class="string required control-label" >邮箱</label>
				<br>
				<%= f.text_field :email, class:"form-control" %>
				<br>
				<label class="string required control-label" >密码</label>
				<br>
				<%= f.password_field :password, class:"form-control" %>
				<br>
				<label class="string required control-label" >确认密码</label>
				<br>
				<%= f.password_field :password_confirmation, class:"form-control" %>
				<% end %>
			</div>
			<br>
			<div class="actions">
				<%= f.submit '提交' ,class:"btn btn-outline btn-primary", role:"button"%>
			</div>
			<% end %>
			<br>
			<%= link_to '返回', admins_path, class:"btn btn-outline btn-primary" %>
		</div>
	</div>
</div>
</div>