<br>
<% if !notice.nil?  %>
<p id="notice" class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= notice %></p>
<% end %>
<!-- /.row -->
<div class="row">
	<div class="col-lg-4">
		<div class="well">
			<h4>用户名</h4>
			<p><%= @admin.username%></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="well">
			<h4>邮箱</h4>
			<p><%= @admin.email%></p>
		</div>
	</div>
</div>
<!-- /.row -->                
<%= link_to '编辑', edit_admin_path(@admin), class:"btn btn-outline btn-primary" %> 
<%= link_to '返回', admins_path, class:"btn btn-outline btn-primary" %>
