<% provide(:title, '产品管理')  %>

<% if !notice.nil? %>
  <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= notice %> 
  </div>
<% end%>

<div class="panel panel-default">
<div class="panel-heading">产品管理</div>
  <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                      <td>产品名称</td>
                      <td>产品描述</td>
                      <td>添加时间</td>
                      <td>修改时间</td>
                      <td>操作</td>
                  </tr>
              </thead>
                  <% @products.each do |product| %>
             <tbody>
                  <tr>
                      <td>
                      <% if product.product_name.to_s.length >=10 %>
                                   <%= product.product_name.to_s[0,10]+'  ...' %>
                            <% else %>
                                   <%= product.product_name %>
                            <% end %>
                      </td>
                      <td>
                            <% if product.context.to_s.length >=10 %>
                                   <%= product.context.to_s[0,10]+'  ...' %>
                            <% else %>
                                   <%= product.context%>
                            <% end %>
                      </td>
                      <td><%= product.created_at %></td>
                      <td><%= product.updated_at %></td>
                      <td><%= link_to '查看', product %> 
                          <%= link_to '编辑', edit_product_path(product) %>
                          <%= link_to '删除', product, method: :delete %>
                      </td>
                  </tr>



             </tbody>
                      <% end %>
          </table>
       
             <%= link_to '新建', new_product_path , class:"btn btn-outline btn-primary"%></li>
      </div>
      <!-- /.table-responsive -->
  </div>
 <!-- /.panel-body -->
</div>


                  