<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Context:</strong>
  <%= @product.context %>
</p>

<p>
  <strong>Create at:</strong>
  <%= @product.created_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @product.updated_at %>
</p>

<%= link_to '编辑', edit_product_path(@product) %> |
<%= link_to '返回', products_path %>
