<% provide(:title, '产品展示')  %>
<% if !notice.nil? %>
  <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= notice %> 
  </div>
<% end%>

<div class="panel panel-default">
   <div class="panel-heading">产品信息</div>
      <div class="panel-body">
        <div class="table-responsive">
              <div class="time">
                <strong>添加时间:</strong>
                <%= @product.created_at %>
              </div>
              <div class="time">
                <strong>修改时间:</strong>
                <%= @product.updated_at %>
              </div>
              <div class="check_product">
                  <strong>产品名字:</strong>
                  <%= @product.product_name %>
              </div>
              <div class="check_product">
                <strong>产品描述:</strong>
                <%= @product.context %>
              </div>



              <div class="button">
                      <%= link_to '编辑', edit_product_path(@product), class:"btn btn-outline btn-primary" %> 
                      <%= link_to '返回', products_path, class:"btn btn-outline btn-primary" %>
              </div>
        </div>
             <!-- /.table-responsive -->
    </div>
     <!-- /.panel-body -->
</div>
