<% provide(:title, '产品展示')  %>
<br>
<% if !notice.nil? %>
  <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= notice %> 
  </div>
<% end%>
<div class="panel panel-default">
   <div class="panel-heading">产品信息</div>
      <div class="panel-body">
        <div class="table-responsive">
              <div class="time">
                <strong>添加时间:</strong>
                <%= @product.created_at.localtime.to_s(:db) %>
              </div>
              <div class="time">
                <strong>修改时间:</strong>
                <%= @product.updated_at.localtime.to_s(:db) %>
              </div>
              
              <div class="check_product">
                  <strong>产品名字:</strong>
                  <p><%= @product.product_name %></p>
              </div>
               <div class="check_product">
                  <strong>产品摘要:</strong>
                  <p><%= @product.brief %></p>
              </div>
              <div class="check_product" id="log" >
                <strong>产品描述:</strong>
              </div>
              <div class="button">
                      <%= link_to '编辑', edit_product_path(@product), class:"btn btn-outline btn-primary" %> 
                      <%= link_to '返回', products_path, class:"btn btn-outline btn-primary" %>
              </div>
        </div>
             <!-- /.table-responsive -->
    </div>
     <!-- /.panel-body -->
</div>
             <script type="text/javascript">
                a = $('<iframe/>', {id: 'foo',scrolling:'no',onload:'iFrameHeight(this)',name:'foo'});
                  a.appendTo('#log');
                  a.css('width', '98%');
                  a.css('border','0 none');
                 html = unescape("<%= @product.context %>");
                  $('#foo').contents().find('body').append(html);
                  function setIframeHeight(iframe) {
                    if (iframe) {
                      var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                      if (iframeWin.document.body) {
                        iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                      }
                    }
                  };
                  setIframeHeight(document.getElementById('foo'))
                </script>