<% provide(:title, '推送信息管理')  %>

<% if !notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <%= notice %> 
</div>
<% end%>

<div class="panel panel-default">
  <div class="panel-heading">推送信息管理</div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <td>推送信息</td>
            <td>添加时间</td>
            <td>修改时间</td>
            <td>操作</td>
          </tr>
        </thead>
        <% @push_messages.each do |push_message| %>
        <tbody> 
          <tr>
            <td>
              <% if push_message.message.to_s.length >=10 %>
              <%= push_message.message.to_s[0,10]+'  ...' %>
              <% else %>
              <%= push_message.message %>
              <% end %>
            </td>
            <td><%= push_message.created_at %></td>
            <td><%= push_message.updated_at %></td>
            <td>
              <%= link_to '查看', push_message %> 
              <%= link_to '删除', push_message, method: :delete, data: { confirm: '你确定要删除吗？' }%>
            </td>
          </tr>
        </tbody>
      <% end %>
      </table>
      <button class="btn btn-outline btn-primary" id="new">新建推送</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#new").click(function(event) {
      location.href = "/push_messages/new";//跳转网址
    });
    </script>


