<h1>Listing push_messages</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @push_messages.each do |push_message| %>
      <tr>
        <td><%= push_message.message %></td>
        <td><%= link_to 'Show', push_message %></td>
        <td><%= link_to 'Edit', edit_push_message_path(push_message) %></td>
        <td><%= link_to 'Destroy', push_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Push message', new_push_message_path %>
