<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PadAdmin">
  <meta name="author" content="Agile 工作室">

  <title> <%= yield(:title) %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', params[:controller], :media => 'all' %>
  <%= csrf_meta_tags %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>

<body>

  <div id="wrapper">

    <nav >
    <div class="navbar navbar-default navbar-fixed-top">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">PadAdmin</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-messages">
            <!-- <li>
              <a href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="pull-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="pull-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="pull-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
            </li>
            <li class="divider"></li>
 -->            <li>
              <a class="text-center">
                <strong>没有消息</strong>
                <!-- <i class="fa fa-angle-right"></i> -->
              </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
           <!--  <li>
              <a href="#">
                <div>
                  <i class="fa fa-comment fa-fw"></i> New Comment
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                  <span class="pull-right text-muted small">12 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-envelope fa-fw"></i> Message Sent
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-tasks fa-fw"></i> New Task
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-upload fa-fw"></i> Server Rebooted
                  <span class="pull-right text-muted small">4 minutes ago</span>
                </div>
              </a>
            </li>
            <li class="divider"></li> -->
            <li>
              <a class="text-center">
                <strong>没有通知</strong>
                <!-- <i class="fa fa-angle-right"></i> -->
              </a>
            </li>
          </ul>
          <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a><i class="fa fa-user fa-fw"></i> <%= current_admin_user.username %></a>
            </li>
            <li><a><i class="fa fa-gear fa-fw"></i> 设置</a>
            </li>
            <li class="divider"></li>
            <li><a data-method="delete" href="/admin_users/sign_out" rel="nofollow"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->
    </div>
      

      <div class="navbar-default navbar-static-side" role="navigation"  style="margin-top: 0px;">
        <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
            <li class="sidebar-search">
              <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
              <!-- /input-group -->
            </li>
            <li>
              <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
              <a href="/companies"><i class="fa fa-bar-chart-o fa-fw"></i> 公司信息</a>
             <!--  <ul class="nav nav-second-level">
                <li>
                  <a href="flot.html">Flot Charts</a>
                </li>
                <li>
                  <a href="morris.html">Morris.js Charts</a>
                </li>
              </ul> -->
              <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="/informs"><i class="fa fa-file-text fa-fw"></i> 新闻管理</a>
            </li>
            <li>
              <a href="/products"><i class="fa fa-file-text fa-fw"></i> 产品管理</a>
            </li>
            <li>
              <a href="/pads"><i class="fa fa-tablet fa-fw"></i> 平板管理</a>
            </li>
            <li>
              <a href="/push_messages"><i class="fa fa-archive fa-fw"></i> 推送消息管理</a>
            </li>
            <li>
              <a href=""><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cogs fa-fw"></i> 设置<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="panels-wells.html"><i class="fa fa-cog fa-fw"></i> 基本设置</a>
                </li>
                <li>
                  <a href="buttons.html"><i class="fa fa-wrench fa-fw"></i>插件设置</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
           
          </ul>
          <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
      </div>
      <!-- /.navbar-static-side -->
    </nav>

        <div id="page-wrapper">
          <%= yield %>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
  <script type="text/javascript">
  jQuery(document).ready(function($){
    $('#page-wrapper').backtotop({
      topOffset: 500,
      animationSpeed: 2000,
      bckTopLinkTitle: '回顶部'
    }); 
  });
      $(function() {

    $('#side-menu').metisMenu();

});

//Loads the correct sidebar on window load,
//collapses the sidebar on window resize.
$(function() {
    $(window).bind("load resize", function() {
        width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
        if (width < 768) {
            $('div.sidebar-collapse').addClass('collapse')
        } else {
            $('div.sidebar-collapse').removeClass('collapse')
        }
    })
})
</script>

</body>

</html>
